.notification_section {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: #f1f2f6;
}

.notification_tabs_root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.notification_button {
  text-transform: capitalize !important;
  width: 120px;
  height: 35px;
}

.notification_content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid #e5e6eb;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

.notification_description_heading {
  padding-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
}
