.task_cards_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content:space-evenly; */
    width: 98%;
    margin: 0 auto;
    padding: 10px;
    height: 73vh;
}

.task_card {
    display: flex;
    flex-direction: column;
    width: 23%;
    border: 1px solid #E5E5E5;
    justify-content: space-between;
    border-radius: 5px;
    flex-wrap: wrap;
    text-overflow: ellipsis !important;
    padding: 5px;
    margin: 2px;
    height: 150px;
}

.task_card_heading {
    font-weight: 600;
}

.task_description {
    font-size: 13px;
    color: #8E8E8E;
}

.task_date {
    font-size: 12px;
    color: #8E8E8E;
}

.task_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    flex-wrap: wrap;
    border-bottom: 1px solid #C4C4C4;
}

.checklist_duedate_section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
    justify-content: space-between;
}

.checklist_section {
    width: 55%;
    border: 1px solid #E5E5E5;
    padding: 5px;
    border-radius: 5px;
}

.task_details_section {
    width: 43%;
    background: #F1F2F6;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.task_list .css-ahj2mt-MuiTypography-root {
    font-size: 12px !important;
}

.name_chip {
    background-color: #B4C2E9;
    padding: 6px;
    border-radius: 50%;
    font-size: 10px;
}

.assigned_user_detail {
    font-size: 13px;
    margin-left: 10px !important;
}

.completed_task_list label span:nth-child(2) {
    text-decoration: line-through;
}
.task_card_hover:hover{
    cursor: pointer;
}