/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  font-size: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2E3591;
  border-radius: 3px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #8e8e8e !important;
  opacity: 0.6;
}

$colorPrimary: #2E3591;

.selected-link {
  // background-color: #f1f2f6;
  background-color: $colorPrimary;
  color: #fff;
  border: none !important;

  .sidebar_icon_root {
    // background-color: $baseColor;
    svg {
      color: #f1f1f1;
    }
  }
}

table tr,
th,
td {
  white-space: nowrap !important;
}

tr th,
td {
  text-align: left !important;
}

tr th {
  font-weight: 600 !important;
}

tr td {
  border-bottom: none !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

textarea:focus {
  outline: unset !important;
}

.cancel-btn {
  background-color: #f1f2f6 !important;
}

.company_logo {
  display: flex;
  justify-content: start;
  padding: 15px;

  img {
    width: 7rem;
  }
}

.notification_tabs_root {
  fieldset {
    height: 30px !important;
    margin-top: 2px;
    border: none;
  }
}

.notification_tabs_root {
  .MuiAutocomplete-root {
    background-color: #ffffff;
    border-radius: 5px;
  }
}

.required_star {
  color: red;
}

.user_profile_icon {
  height: 90px !important;
  width: 90px !important;
  color: #f1f2f6 !important;
  border-radius: 50%;
  background-color: #E5E5E5;
}

.heading_access_box {
  color: #8e8e8e;
}

.sub_heading {
  color: #8e8e8e;
  font-weight: 500;
  letter-spacing: 0.08rem;
}

.custom_tab_background {
  box-shadow: none !important;
  background-color: #f1f2f6 !important;
  color: $colorPrimary !important;
  height: 40px !important;
  border-radius: 3px;
}

.common_sub_heading {
  display: flex;
  letter-spacing: 0.05rem;
  font-weight: 600;
}

.common_description_text {
  font-size: 15px;
  margin-top: 5px;
  display: flex;
  letter-spacing: 0.04rem;
}

.main_section {
  display: flex;
  height: 92%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  flex-direction: column !important;
  margin: 8px 12px;
  overflow-y: auto;
  overflow-x: hidden;
}

.notification_section {
  display: flex;
  height: 91%;
  background-color: #fff !important;
  border-radius: 5px;
  // padding: 10px;
  flex-direction: column !important;
  margin: 8px 12px;
  overflow-y: auto;
  overflow-x: hidden;

  // height: 100%;
  // margin: 0px 0px;
  overflow-y: auto;
  overflow-x: hidden;

}

.team_profile_section {
  display: flex;
  height: 100%;
  background: #ffffff;
  justify-content: space-between;
  margin: 8px 12px;
}

.main_section_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}

.pofile_edit_section {
  height: 83vh;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
}

.table_heading tr th {
  border-bottom: none;
  background: #f1f2f6;
}

.companyDetail {
  display: flex;
  justify-content: center;
  width: 70%;
  flex-direction: column;
}

.companyDetail_root {
  display: flex;
  justify-content: space-between;
}

.dialogue_main_section {
  margin: 10px 10px 15px 10px;
  width: 350px;
  display: flex;
  text-align: 'center' !important;
  flex-direction: column;
  align-items: center;
}

.dialogue_delete_Icon {
  border-radius: 50%;
  color: white;
  font-size: 70px !important;
  background-color: red !important;
  padding: 8px;
}

.dialogue_input_fields {
  display: flex;
  width: 320px !important;
  margin: 14px 10px !important;
}

.dialogue_heading {
  margin-top: 10px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  text-align: center;
}

.dialogue_description {
  margin: 10px 0px !important;
  font-size: 15px;
  text-align: center;
}

.dialogue_bottom_button {
  box-shadow: none !important;
  width: 300px !important;
  height: 45px !important;
  background-color: $colorPrimary !important;
  font-size: 18px !important;
  font-weight: 600;
  text-transform: capitalize;
}

.dialogue_button_positive {
  box-shadow: none !important;
  height: 40px !important;
  background-color: $colorPrimary !important;
  width: 150px !important;
  font-size: 18px !important;
  font-weight: 600;
  text-transform: capitalize;
}

.dialogue_button_nagative {
  box-shadow: none !important;
  height: 40px !important;
  background-color: #f1f2f6 !important;
  color: #000 !important;
  width: 150px !important;
  font-size: 18px !important;
  font-weight: 600;
  text-transform: capitalize;
}

.tab_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tab_right_button_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile_data_table_header tr th {
  margin-top: 15px !important;
  font-weight: 600;
  background-color: #f1f2f6;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.status_description {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.set_date_time_bg {
  background-color: white;
}

.detail_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product_profile_date {
  width: 100%;
}

.product_detail_dia_right_section {
  margin-bottom: 20px;
}

.common_icon {
  color: $colorPrimary;
}
.common_icon:hover {
  cursor: pointer;
}

.team_overview_table_heading {
  background: #f1f2f6 !important;
  width: 100% !important;
}

.team_overview_table_heading tr th {
  border-bottom: none;
  padding: 8px;
}

.tablebody_class tr td {
  padding: 12px !important;
}

.input_field_row {
  width: 100%;
  background-color: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.edit_profile_image_section {
  width: 10%;
  display: flex;
  margin: 20px;
  justify-content: flex-end;
}

.edit_profile_detail_section {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.input_fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.register_input_fields {
  width: 48% !important;
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 0px !important;
}

.input_field_label {
  margin-bottom: 5px !important;
  margin-top: 20px !important;
}

.login_page {
  height: 100% !important;
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: space-between;
}

.login_form_section {
  height: 92vh;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.login_form_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_form_box {
  width: 32%;
  display: flex;
  justify-content: center;
  flex-direction: column !important;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 10px 25px 15px 25px;
  margin: 20px;
}

.login_heading {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  padding: 10px;
  letter-spacing: 0.1rem;
}

.login_footer {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background: #f1f2f6;
  // margin: 20px 10px;
  padding: 20px;
}

.login_password_root label {
  margin-bottom: 10px;
}

.login_copyright_root {
  color: #000000;
  font-size: 17px;
  font-weight: 400;
}

button {
  text-transform: capitalize !important;
}

.header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.drawer_header_section {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
}

.custom_text_button {
  background-color: #f1f2f6 !important;
  color: $colorPrimary !important;
  margin: 4px !important;
  height: 40px !important;
  border-radius: 3px;
  font-weight: '600';
}

.custom_text_button:hover {
  cursor: pointer;
}

.common_button {
  box-shadow: none !important;
  background-color: #f1f2f6 !important;
  color: $colorPrimary !important;
  margin: 4px !important;
  height: 40px !important;
  font-size: 16px !important;
  border-radius: 3px;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.common_button:hover {
  cursor: pointer;
}

.active_button {
  box-shadow: none !important;
  background-color: $colorPrimary !important;
  color: #ffffff !important;
  height: 40px !important;
  border-radius: 3px;
}

.client_profile_tab button {
  text-transform: capitalize;
}

.border_button {
  border: 1px solid $colorPrimary !important;
  color: $colorPrimary !important;
  text-transform: capitalize !important;
}

.main_button {
  height: 40px;
  margin: auto 0 !important;
  background-color: #fff !important;
  text-transform: capitalize !important;
  color: #8e8e8e !important;
}

.edit_page_save_button {
  margin: 20px !important;
  background-color: $colorPrimary !important;
  width: 225px;
  text-transform: capitalize !important;
  font-size: 17px !important;
  padding: 10px !important;
}

.product_buttons > svg {
  background-color: #ffffff;
  margin-left: 10px;
  height: 35px;
  width: 35px;
  padding: 5px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  color: $colorPrimary;
}

.main_tab_button {
  margin: auto 10px auto 0;
  height: 40px;
  background-color: #fff !important;
  text-transform: capitalize !important;
  color: $colorPrimary !important;
  padding-left: 0px;
}

.add_product_button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.primary_color_button {
  color: white !important;
  background-color: $colorPrimary !important;
  box-shadow: none !important;
}

.user_profile_header_Section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.username_profile_Section {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.username_and_position {
  display: flex !important;
  flex-direction: column !important;
  margin-left: 8px;
}

.username_text {
  font-size: 18px;
  font-weight: bold;
}

.edit_icon_profile {
  color: $colorPrimary;
  font-size: 45px !important;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.search_field {
  padding: 0px !important;
  margin-right: 10px;
  height: 40px;
  background-color: #fff !important;
  text-transform: capitalize !important;
}

.search_field fieldset {
  border: none !important;
}

.access_control_box {
  width: 49%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px 10px !important;
  margin: 10px 0px !important;
}

.detail_access_control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.access_control {
  margin-right: 10%;
}

.access_box {
  width: 24%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f1f2f6;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0px;
}

.accessMenu_section {
  display: flex;
  flex-direction: column;
  border: 1px solid #f1f2f6;
  padding: 10px;
  margin: 5px 10px;
}

.access_box_name {
  margin-left: 10px !important;
}

.custom_table {
  padding: 0px !important;
}

.body_section_paddingless_pagination {
  background-color: #fff;
  border-radius: 5px;
  height: 100%;
  margin: 0px 0px;
  overflow-y: auto;
  overflow-x: hidden;

  .inner_container {
    // height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }
}

.main_tab_section {
  display: flex;
  flex-direction: column;
  margin: 0px 12px;
  // height: 90%;
  height: 100%;
}

.profile_body_section {
  height: 100%;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  flex-direction: column !important;
  padding: 10px;
  margin: 8px 12px;
}

.left_team_profile_section {
  overflow-y: auto;
}

.statistics_data_section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.statistics_data {
  display: flex;
  flex-direction: row;
}

.statistics_box {
  min-width: 34% !important;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  border-radius: 5px;
  padding: 10px;
}

.first_box {
  background-color: #e6dff1;
  white-space: nowrap;
}

.second_box {
  background-color: #ede9f2;
  white-space: nowrap;
}

.third_box {
  background-color: #e5e6eb;
  white-space: nowrap;
}

.fourth_box {
  background-color: #eae6ef;
  white-space: nowrap;
}

.tab_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 8px 0px;
}

.checkbox_section {
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  align-items: center;
}

.checkbox_background_color {
  width: 48% !important;
  height: 40px;
  background-color: #f1f2f6;
  border-radius: 5px;
  align-items: center;
}

.expenses_table_height {
  height: 80vh;
}

.leave_and_holiday_main_table {
  width: 70%;
  margin: 6px;
}

.orders_table_height {
  height: 82%;
  border: none !important;
}

.profile_data_table {
  width: 100%;
  height: 67vh !important;
  border: 1px solid #e5e5e5;
  overflow-y: auto;
  box-shadow: none !important;
  padding-bottom: 20px;
}

.name_chip {
  background-color: #b4c2e9;
  border-radius: 50%;
  font-size: 15px;
  height: 32px;
  width: 32px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leave_data_main {
  border: 1px solid #e5e5e5;
  height: 52vh;
  border-top: none;
  margin: 0;
  padding: 0;
}

.profile_data_lable {
  font-weight: 600;
}

.tablecell_height {
  line-height: 3 !important;
}

.staff_tablecell:hover {
  cursor: pointer;
}

.staff_tablecell {
  background-color: #ffffff;
  border-bottom: 2px solid black;
}

.product_cart_button,
.profile_header_button,
.product_detail_buttons {
  padding: 0px 10px !important;
  box-shadow: none !important;
  background-color: #f1f2f6 !important;
  color: $colorPrimary !important;
  height: 40px !important;
  border-radius: 3px;
  min-width: 0 !important;
  margin-left: 10px !important;
}

.task_card_hover:hover {
  cursor: pointer;
}

.client_product_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 3 - 1rem);
  height: 150px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.below_main_tab_section {
  background-color: #fff;
  border-radius: 5px;
  height: 100%;
  margin: 0px 0px;
  padding: 10px !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.product_card_main_section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 820px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 1200px) {
  .statistics_box {
    min-width: 15% !important;
  }
}

// @media(max-width: 900px){
//   html{
//     font-size: 85%;
//   }
//   .common_row {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//   }
// }

// @media(max-width: 900px){
//   .graph_section {
//     display: flex;
//     flex-direction: column;
//     width: auto;
//     margin: 10px 8px auto 5px;
//   }
//   .statistics_data_section {
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     align-content: space-between;
//     border: 1px solid #e5e5e5;
//     padding: 10px;
//   }
// }

.pagination_style {
  margin: 20px auto;
  float: right;

}

.customers_list_page_buttons {
  display: flex !important;
  padding: 0px !important;
  justify-content: center !important;
}

.customer_list_table {
  padding: 0px !important;
}

.set_box_shadow {
  box-shadow: none !important;
}

.filter_icon {
  display: flex !important;
  padding: 0 !important;
  margin: 0 0 0 10px !important;
}

.filter_main_heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter_body_section {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.filter_body_inner_section {
  margin: 10px !important;
}

.chevron_icon {
  font-size: 30px !important;
}

.table_buttons {
  display: flex !important;
  justify-content: flex-end !important;
  flex-direction: row;
  align-items: center !important;
}

.client_detail_table {
  border: 1px solid #e5e5e5;
  overflow-y: auto;
}

.staff_date div:first-child {
  height: 40px;
}

.table_row_top_align {
  vertical-align: baseline !important;
}

.button_color {
  color: $colorPrimary !important;
  border-color: $colorPrimary !important;
}

.edit_my_profile_image_section {
  width: 10%;
  display: flex;
  margin: 20px;
  justify-content: flex-end;
  flex-direction: column;
}

.inner_icon_style {
  position: absolute;
  color: white;
  border: 1px solid rgb(146, 143, 143) transparent;
  background: rgba(134, 133, 133, 0.6);
  border-radius: 50%;
  padding: 8px;
}

.edit_my_profile_image_section {
  width: 10%;
  display: flex;
  margin: 20px;
  justify-content: flex-end;
  flex-direction: column;
}

.my_profile_image_section {
  position: relative;
  width: 14vh;
  height: 14vh;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  padding: 5px;
}

.image_style {
  position: relative;
  color: white !important;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.view_all_button {
  color: #2e3591 !important;
}