// .css-diavtr-MuiDrawer-docked {
//   .MuiDrawer-paper {
//     width: 20% !important;
//   }
// }

.main-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 0px 15px 35px;

  img {
    width: 9rem; 
  }
}

@media(max-width: 1250px){

  .main-logo{
    padding: 20px 10px;
    display: none; 
  }
  
}