.password_field .css-1ptx2yq-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none;
}
.password_field .css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
  border-bottom: none;
}
.password_field input {
  text-align: right;
}

.userdetail_root {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.userdetail_field_heading {
  font-weight: 600;
}
