.password_field .css-1ptx2yq-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none;
}
.password_field .css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
  border-bottom: none;
}
.password_field input {
  text-align: right;
}
