.order_description {
  background-color: #f1f2f6;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px 0 12px 1px;
}
.order_description_left_section {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 5px;
  padding: 20px;
}
.my_cart_header_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: 5px; */
  height: 100%;
  padding: 20px;
}
.my_cart_right_side_header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin: auto 0px 18px auto;
}
.cart_header_section {
  /* display: flex; */
  border: 1px solid #f1f2f6;
  margin-bottom: 40px;
  height: 100%;
}
.order_description_middle_section {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 5px;
  padding: 20px;
}
.order_description_right_section {
  display: flex;
  width: 10%;
  /* margin-right: 10px; */
}
.invoice_button {
  background-color: #fff !important;
  color: #2e3591 !important;
  margin: 2px !important;
  height: 42px !important;
  border-radius: 3px;
  padding: 2px;
}
.order_detail_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  margin: 20px 5px;
}
.order_desc_subheading {
  width: 25% !important;
  /* color: #8e8e8e; */
  color: #000000;
  font-weight: 600;
}
.order_tracking_payment_detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.order_tracking {
  width: 66%;
  /* background-color: #f1f2f6; */
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 10px;
  border-radius: 5px;
}
.payment_detail {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 10px;
  border-radius: 5px;
}
.order_tracking_heading {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 0 12px;
}
.css-z7uhs0-MuiStepConnector-line {
  border-top-style: dashed !important ;
}

.payment_detail_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order_section {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  /* height: 77vh; */

  /* overflow-y: auto; */
}

.order_search_field {
  margin: 8px 10px auto auto;
  height: 40px;
  background-color: #fff !important;
  text-transform: capitalize !important;
  color: #8e8e8e !important;
  padding-left: 0px;
}

.checkbox_button {
  background-color: #f1f2f6;
  border-radius: 5px;
  padding-right: 53px;
}

.order_heading {
  color: #000000;
}

/* .my_cart_header_section {
  width: 100%;
  height: 25%;
  border: 1px solid #f1f2f6;
  border-radius: 5px;
  margin-bottom: 40px;
} */

.my_cart_details_section {
  width: 100%;
  height: 65%;
  margin: 25px auto;
}

.date_section {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.price_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
}

.inner_main_section {
  margin: 17px;
  /* width: 100%; */
  height: 100%;
}

.white_buttons {
  padding: 0px 10px !important;
  box-shadow: none !important;
  background-color: white !important;
  font-size: 16px !important;
  color: #2e3591 !important;
  height: 40px !important;
  border-radius: 3px;
  min-width: 0 !important;
}

.order_card_heading {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.08em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client_order_photo {
  width: 20%;
  height: 100%;
  margin-right: 15px;
}

.my_cart_product_photo {
  width: 80px !important;
  height: 80px !important;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.order_detail {
  width: 60%;
  height: 100%;
}

.product_order_detail {
  width: 100%;
  height: 100%;
}

.order_price {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.info_and_cart {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.order_payment_details {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100% !important;
}

.orders_drawer_date {
  /* margin: 10px 22px auto 8px !important; */
  margin: 10px 10px !important;
}

.width_63 {
  width: 63% !important;
}

.full_width {
  width: 100% !important;
}
