.client_section {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: #f1f2f6;
  /* margin-left: 1.9rem;
  margin-right: 0.7rem; */
}

.client_view_button {
  border: 1px solid #e5e5e5;
}

.client_section {
  width: 96% !important;
  margin: 0 auto !important;
  background-color: #fff;
  /* overflow-x: hidden; */
}

.delete_client_icon {
  color: #2e3591 !important;
  /* border: 1px solid #E5E5E5; */
  border-radius: 4px;
  margin-left: 5px;
}

.delete_client_icon {
  margin-left: 15px;
}

.css-qfz70r-MuiFormGroup-root {
  padding-left: 12px !important;
}

::placeholder {
  color: #8e8e8e !important;
}

/* @keyframes blinker {
  50% {
    opacity: 0 !important;
  }
} */
.business_card_section {
  height: 70vh;
  background-color: #fff;
  width: 95%;
  /* margin: 0 auto; */
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
}

.business_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 150px;
  margin: 5px;
}

.inner_business_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 220px;
  margin: 5px;
  border-radius: 5px;
}

.business_card_left_section {
  display: flex;
  width: 20%;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  background-color: #2e3591;
  border-radius: 5px 0 0 5px;
}

.business_card_left_section img {
  background: #fff;
  height: 20%;
  margin: 2px auto;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
}

.business_card_right_section {
  display: flex;
  flex-direction: column;
}

.business_card_right_section span {
  height: 20%;
  padding: 5px;
  margin: 3px 2px;
}

.business_detail_dialog_title {
  font-weight: 600 !important;
  font-size: 24px !important;
}

.client_type_select {
  width: 100%;
  margin: 10px 0px !important;
  border: 1px solid #e5e5e5;
}

.main_button {
  /* width: 109px; */
  height: 40px;
  margin: auto 0 !important;
  background-color: #fff !important;
  text-transform: capitalize !important;
  color: #8e8e8e !important;
}

.business_card_dialog_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  margin-right: 15px;
}
