.team_profile_section {
  display: flex;
  height: 100%;
  /* width: 100%; */
  background-color: #f1f2f6;
  justify-content: space-between;
  margin: 8px 12px;
}

.left_panel {
  width: 60%;
  height: 89%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-right: 10px;
}

.right_panel {
  width: 40%;
  height: 89%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.add_staff_section {
  /* margin-top: 1rem !important; */
  border-radius: 5px;
  height: 85vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
}

/* Success Dialog Start */
.successdialog {
  min-height: 300px;
  height: auto;
  width: 350px;
}

.profile_lable {
  font-weight: 600;
  width: 25%;
}

.profile_detail_row {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.drawdownsuccessellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: #eaffe2;
  border-radius: 0 0 100% 100%;
}

.canceliconbackground svg {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px !important;
}

.drawdownsuccessellipse .canceliconbackground .css-i4bv87-MuiSvgIcon-root {
  color: #121f3e;
}

.drawdownsuccessellipse .css-i4bv87-MuiSvgIcon-root {
  font-size: 60px;
  color: #6bc04b;
}

.successful {
  text-align: center;
  font-weight: 700 !important;
  font-size: 28px !important;
  color: #6bc04b !important;
  margin: 10px !important;
}

.successfulmessage {
  text-align: center;
  font-weight: 600 !important;
  color: #121f3e !important;
}

/* Success Dialog End */
.access_control_box:nth-of-type(odd) {
  /* margin-right: 10%; */
}

.expenses_data_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  padding: 12px;
}

.total_days_data {
  width: auto;
  background-color: #c0dedd;
}

.Absent_days_data {
  background-color: #e6dff1;
  /* margin-right: 130px; */
}

.week_data {
  background-color: #ece9ff;
}

.target_order_data {
  background: #c0dedd;
}

.target_achieved_data {
  background: #e6dff1;
}

.point_right_section {
  width: 60%;
  /* height: 100%; */
  overflow-y: hidden;
}

.point_data_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
  margin: 5px;
}

.team_member_table tbody tr {
  border-bottom: 5px solid #f1f2f6;
}

.pjp_detail_main_box {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: none;
  /* margin-bottom: 4px; */
  /* width: 53px; */
  /* height: 32.5rem; */
}

.pjp_all_table_header tr th {
  font-weight: 600;
  background-color: #f1f2f6;
}

.button_and_filter {
  /* margin: 14px; */
  /* margin-top: 14px; */
  margin-right: 14px;
  /* align-items: center;
  align-content: center; */
}

.pjp_table_btn {
  background-color: #f1f2f6 !important;
  color: #2e3591 !important;
  margin: 2px !important;
  height: 35px !important;
  border-radius: 3px;
  font-weight: 400;
  border: 1px solid #e5e5e5;
}

.left_panel_heading {
  font-weight: 600;
  padding: 4px;
}

.right_panel_heading {
  font-size: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
}

.view_on_map_btn {
  background-color: #f1f2f6 !important;
  color: #2e3591 !important;
  margin: 2px !important;
  height: 40px !important;
  border-radius: 3px;
  font-weight: 600;
  padding-top: 2px;
}

.common_button_staff_points {
  background-color: #f1f2f6 !important;
  color: #2e3591 !important;
  margin-left: 0.5rem !important;
  margin-top: 4px;
  min-width: 0 !important;
  height: 40px !important;
  width: 43px !important;
  border-radius: 3px;
  font-weight: 500;
  padding-top: 2px;
}

.appreciation_btn {
  background-color: #f1f2f6 !important;
  color: #2e3591 !important;
  margin-left: 11rem !important;
  margin-top: 5px !important;
  height: 35px !important;
  border-radius: 3px;
  font-weight: 500;
  padding-top: 2px;
}

.points_date_filter {
  display: flex;
  background-color: #f1f2f6;
  height: 35px;
  width: 10rem;
  margin: 5px;
  border-radius: 5px;
}

.no_result_staff_page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.no_result_staff_page img {
  padding-top: 6rem;
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.staff_statistics_data {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 5px 0px 10px 0px;
}

.staff_statistics_box {
  width: 30% !important;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
}

/* @media (max-width: 900px) {
  .profile_detail_row {
    display: flex;
    justify-content: space-between;
  }
} */

.filter_body_section {
  display: flex;
  flex-direction: column;
}

.filter_body_inner_section {
  margin: 5px 15px;
}

.filter_body_inner_heading {
  margin: 0px 5px;
}

.staff_inner_name_tablecell {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 15px;
  float: left;
}

.divider_style {
  height: 12px !important;
  border-color: transparent !important;
}

.staff_right_main_header_section {
  width: 100%;
  padding: 0px 8px;
}

.staff_right_main_detail_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 0px 15px;
}

.staff_header {
  display: flex;
  align-items: center;
}

.pjp_all_detail {
  box-shadow: none;
  border-top: none;
  overflow-y: auto;
}
