.staff_section {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: #f1f2f6;
  /* margin-left: 1.9rem;
  margin-right: 0.7rem; */
}

.css-13xfq8m-MuiTabPanel-root {
  padding: 0 !important;
}

.add_staff_section {
  /* margin-top: 1rem !important; */
  border-radius: 5px;
  height: 85vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
}

/* .css-wdvzsn-MuiPaper-root-MuiTableContainer-root {
  height: 50vh !important;
} */
/* Success Dialog Start */
.successdialog {
  min-height: 300px;
  height: auto;
  width: 350px;

}

.drawdownsuccessellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: #EAFFE2;
  border-radius: 0 0 100% 100%;
}

.canceliconbackground svg {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px !important;
}

.drawdownsuccessellipse .canceliconbackground .css-i4bv87-MuiSvgIcon-root {
  color: #121F3E;
}

.drawdownsuccessellipse .css-i4bv87-MuiSvgIcon-root {
  font-size: 60px;
  color: #6BC04B;
}

.successful {
  text-align: center;
  font-weight: 700 !important;
  font-size: 28px !important;
  color: #6BC04B !important;
  margin: 10px !important;
}

.successfulmessage {
  text-align: center;
  font-weight: 600 !important;
  color: #121F3E !important;
}

/* Success Dialog End */
.access_control_box {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  height: max-content;
  display: flex;
  flex-direction: column;

}

.access_control .access_control_box:nth-of-type(odd) {
  margin-right: 10%;
}

.access_checkbox {
  background-color: #F1F2F6;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  width: 23%;
}

.accessMenus_checkbox {
  border: 1px solid #F1F2F6;
  margin-bottom: 10px;
  padding: 10px;
}

.attendance_data_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total_days_data {
  background-color: #C0DEDD;
}

.Absent_days_data {
  background-color: #E6DFF1;
}

.days_data {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 8px;
  margin-left: 3px;
  /* width: fit-content; */
  height: max-content;
}

.Late_days_data {
  display: flex;
  background-color: #F2EEE9;
}

.range_days_data {
  display: flex;
  /* flex-wrap: wrap; */
  background-color: #F1F2F6;
  /* height: 45px; */
  margin:2px;
  border-radius: 5px;
}

.target_section {
  border: 1px solid #E5E5E5;
  padding: 5px;
  margin: 5px;
}

.week_data {
  background-color: #ECE9FF;
}

.target_order_data {
  background: #C0DEDD;
}

.target_achieved_data {
  background: #E6DFF1;
}

.days_remain_data {
  background-color: #F2EEE9;
}

.point_section {
  border: 1px solid #E5E5E5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

.point_left_section {
  width: 40%;
  background: #F1F2F6;
  padding: 10px;
}

.point_right_section {
  width: 60%;
}

.point_data_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #C4C4C4;
  margin: 5px;
}

.other_expenses_data {
  background-color: #F2EEE9;
  width: 16%;
}

.total_expenses_data {
  background: #ECE9FF;
  width: 22%;
}

.payment_done_data {
  background: #FFEAD1;
  width: 16%;
}

.food_data {
  background-color: #C0DEDD;
  width: 16%;
}

.travel_data {
  background-color: #E6DFF1;
  width: 16%;
}

.late_status_color {
  color: #F1C40F !important;
}

.absent_status_color {
  color: #F11F12 !important;
}

.leave_status_color {
  color: #2E3591 !important;
}

.present_status_color {
  color: #3498DB !important;
}