.add_staff_section {
  /* margin-top: 1rem !important; */
  border-radius: 5px;
  height: 85vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
}

/* Success Dialog Start */
.successdialog {
  min-height: 300px;
  height: auto;
  width: 350px;
}

.drawdownsuccessellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: #eaffe2;
  border-radius: 0 0 100% 100%;
}

.canceliconbackground svg {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px !important;
}

.drawdownsuccessellipse .canceliconbackground .css-i4bv87-MuiSvgIcon-root {
  color: #121f3e;
}

.drawdownsuccessellipse .css-i4bv87-MuiSvgIcon-root {
  font-size: 60px;
  color: #6bc04b;
}

.successful {
  text-align: center;
  font-weight: 700 !important;
  font-size: 28px !important;
  color: #6bc04b !important;
  margin: 10px !important;
}

.successfulmessage {
  text-align: center;
  font-weight: 600 !important;
  color: #121f3e !important;
}

/* Success Dialog End */
.access_control_box:nth-of-type(odd) {
  margin-right: 10%;
}
.expenses_data_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  padding: 12px;
}
.total_days_data {
  width: auto;
  background-color: #c0dedd;
}
.Absent_days_data {
  background-color: #e6dff1;
  /* margin-right: 130px; */
}
.week_data {
  background-color: #ece9ff;
}
.target_order_data {
  background: #c0dedd;
}
.target_achieved_data {
  background: #e6dff1;
}
.point_section {
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}
.point_left_section {
  width: 40%;
  background: #f1f2f6;
  padding: 10px;
}
.point_right_section {
  width: 60%;
}
.point_data_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
  margin: 5px;
}
.team_member_table tbody tr {
  border-bottom: 5px solid #f1f2f6;
}

.pjp_detail_main_box {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: none;
}

.pjp_all_table_header tr th {
  font-weight: 600;
  background-color: #f1f2f6;
}

.staff_profile {
  padding: 0;
}

.button_and_filter {
  /* margin: 14px; */
  margin-top: 14px;
  margin-right: 14px;
}

.pjp_table_btn {
  background-color: white !important;
  color: #2e3591 !important;
  margin: 2px !important;
  height: 35px !important;
  border-radius: 3px;
  font-weight: 400;
  /* padding-top: 2px; */
  border: 1px solid #e5e5e5;
}
