.inquiry_sales_statistics {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inquiry_overview {
  border: 1px solid #e5e5e5;
  width: 70%;
  border-radius: 5px;
  padding: 5px;
}

.dashboard_inner_heading {
  padding: 8px 0 15px 10px;
}

.platform_data_detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-right: 8px;
  margin-left: 8px;
}

.inquiry_sub_heading {
  display: flex;
  flex-direction: row;
}

.inquiry_from_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0 0 0px;
}

.inquiry_row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.small_sub_heading {
  /* padding: 10px 0 0 30px; */
  font-size: 12px;
  color: #8e8e8e;
  margin-bottom: 10px !important;
  /* border-bottom: 1px solid black; */
}

.inquiry_detail_box {
  width: 50%;
  margin-bottom: 8px;
}

.inquiry_detail_left_part {
  display: flex;
  align-items: flex-start;
  margin-right: 40px;
}

.inquiry_detail_right_part {
  display: flex;
  align-items: flex-start;
}

.inquiries_inner_section {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  width: 100%;
}

.inquiries_bullet_point {
  background-color: #ffab00;
  height: 10px;
  width: 10px;
  margin-right: 10px;
}

.doughnut_chart_inquiry {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sales_statistics {
  width: 29%;
  background-color: #f1f2f6;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}

.sales_staff_statistics_data {
  width: 45%;
  margin-bottom: 15px;
}

.sales_statistics_heading {
  font-weight: 500;
  width: 100%;
  padding-bottom: 12px;
}

/* .sales_subheading {
  padding-bottom: 15px;
  margin-bottom: 8px;
} */

.sales_parameter_bottom_border {
  border-bottom: 1px solid #e5e5e5;
}

.team_overview {
  border: 1px solid #e5e5e5;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}

.team_overview_heading {
  display: flex;
  justify-content: space-between;
}

.view_all_button {
  color: #2e3591;
}

.dashboard_heading {
  font-weight: 600;
  font-size: '18px';
}

.dashboard_sub_heading {
  font-weight: 600;
}

.team_overview_inner_heading {
  padding: 8px;
  font-weight: 600;
}

.underline {
  margin-left: 30px;
  background-color: #e5e5e5;
}

/* @media (max-width: 900px) {
  .sales_statistics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .sales_statistics_heading {
    text-align: center;
  }
} */

.sales_parameter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 500;
}

.attendance_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3px;
}
