* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.login_password_root {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.login_submit_button_root button {
  margin-top: 20px;
  background-color: #2e3591 !important;
  color: #ffffff;
  border-radius: 7px;
  text-transform: capitalize;
  width: 75%;
  font-size: 20px;
}

.login_forget_password_root {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #8e8e8e;
  padding: 0px;
  margin: 0px;
  text-align: right;
  text-decoration: underline;
}

.login_forget_password_root a {
  color: #8e8e8e;
}