* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.login_password_root {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.login_forget_password_root {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #8e8e8e;
  padding: 0px;
  margin: 0px;
  text-align: right;
  text-decoration: underline;
}

.login_forget_password_root a {
  color: #8e8e8e;
}
