.attendance_button {
  text-transform: capitalize !important;
  padding: 8px !important;
  height: 30px;
  width: auto !important;
  background-color: #f1f2f6 !important;
  color: #2e3591 !important;
  font-weight: 600 !important;
}

.leave_data_main {
  border: 1px solid #e5e5e5;
  /* height: 35vh; */
  height: 44vh;
  overflow-y: auto;
  /* overflow-x: hidden; */
  border-top: none;
  margin: 0;
  padding: 0;
}

.present_data_main {
  border: 1px solid #e5e5e5;
  /* height: 35vh; */
  height: 48vh;
  /* overflow-y: auto; */
  box-shadow: none;
  border-top: none;
  margin: 0;
  padding: 0;
}

.user_profile_color {
  /* color: #8e8e8e; */
  font-weight: 600;
}

/* .profile_table tr th {
  background-color: #f1f2f6;
  padding: 12px;
}
.profile_table tr th:nth-child(1) {
  border-radius: 5px 0 0 5px;
}
.profile_table tr th:nth-last-child() {
  border-radius: 5px 0 0 5px;
} */

.present_table_heading {
  /* overflow-x: hidden; */
  margin-top: 8px;
  /* box-shadow: none; */
}

.tablecell_height {
  line-height: 3 !important;
}
