.present_data_main {
  border: 1px solid #e5e5e5;
  height: 48vh;
  box-shadow: none;
  border-top: none;
  margin: 0;
  padding: 0;
}
.notification_tabs_root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}
.password_field .css-1ptx2yq-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none;
}
.password_field .css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
  border-bottom: none;
}
.password_field input {
  text-align: right;
}

.userdetail_field_heading {
  font-weight: 600;
}
.client_attendance_tab {
  background-color: #f1f2f6;
}
.client_attendance_tab button {
  text-transform: capitalize;
  /* background-color:#2E3591 !important; */
  border-radius: 3px;
}
.client_attendance_tab
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  background-color: #2e3591 !important;
}
.client_attendance_tab
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #fff;
}
.client_attendance_tab .css-1aquho2-MuiTabs-indicator {
  background-color: transparent !important;
}
.leave_table_body_data {
  overflow-y: auto;
}

.my_profile_tabs_root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
