.leave_holiday_section {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  height: 87%;
  width: 97%;
  margin: 15px auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.regular_holiday_section {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e6eb;
  border-radius: 5px;
  padding: 10px;
  height: 40%;
}

.occassional_holiday_section {
  display: flex;
  width: 65%;
  flex-direction: column;
  border: 1px solid #e5e6eb;
  border-radius: 5px;
  padding: 10px;
}

.leave_regular_holiday_section {
  display: flex;
  width: 35%;
  flex-direction: column;
  margin-left: 10px;
}

.leave_holiday_section th,
tr,
td,
table {
  border: none !important;
  box-shadow: none !important;
}

.leave_holiday_section .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  box-shadow: none !important;
}

.regular_holiday_data {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-bottom: 16px;
}

.leave_management_section {
  display: grid;
  border: 1px solid #e5e6eb;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  height: 60%;
}

.leave_holiday_row {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.sub_heading {
  color: #8e8e8e;
  /* margin: 24px 25px; */
}

.leave_holidays_table_header {
  background-color: #f1f2f6;
  border-radius: 5px;
}

.header_section {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
}

.leave_holiday_buttons {
  background: #f1f2f6 !important;
  color: #2e3591 !important;
  text-transform: capitalize !important;
  padding: 5px !important;
  box-shadow: none !important;
}
