.leave_holiday_section {
  display: flex;
  background: #ffffff;
  width: 96% !important;
  padding: 20px;
  height: 83vh;
  margin: 1.5rem !important;
  border-radius: 5px;
  /* margin-left: 4rem; */
  /* height: auto; */
  flex-direction: column;
  overflow-y: auto;

  /* justify-content: space-between; */
}

.leave_holiday_section th,
tr,
td,
table {
  border: none !important;
  box-shadow: none !important;
}

.leave_holiday_section .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  box-shadow: none !important;
}

.occassional_holiday_section {
  border: 1px solid #e5e6eb;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.regular_holiday_heading {
  display: flex;
  justify-content: space-between;
}

.regular_holiday_section {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e6eb;
  border-radius: 5px;
  padding: 5px;
  width: 49%;
  height: max-content;
}

.leave_management_section {
  border: 1px solid #e5e6eb;
  border-radius: 5px;
  width: 49%;
}

.leave_holiday_row {
  display: flex;
  justify-content: space-between;
}

.sub_heading {
  color: #8e8e8e;
  /* margin: 24px 25px; */
}

.leave_holidays_table_header {
  background-color: #f1f2f6;
  border-radius: 5px;
}

.leave_management_header {
  display: flex;
  justify-content: space-between;
}

.leave_holiday_buttons {
  background: #f1f2f6 !important;
  color: #2e3591 !important;
  text-transform: capitalize !important;
  padding: 5px !important;
  box-shadow: none !important;
  /* margin: 16px 25px 14px 0px; */
}

.add_button {
  margin-top: 16px;
  margin-bottom: 14px;
  margin-right: 25px;
}
