.product_list_section {
    /* margin-top: 1rem !important; */
    border-radius: 5px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #ffffff;
    flex-wrap: wrap;
    width: 98%;
    margin: 0 auto;
    padding: 10px;
  }