.client_profile_detail {
  width: 70%;
  padding-left: 1px;
}

audio::-internal-media-controls-download-button {
  display: none;
}

.set_reminder_bg {
  background-color: #f1f2f6;
}
.userdetail_root {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.client_profile_underline {
  margin-left: 10px !important;
  background-color: red !important;
  padding: 9px;
}
