.client_profile_detail {
  width: 100%;
  height: 70vh !important;
  overflow: scroll;
}

audio::-internal-media-controls-download-button {
  display: none;
}

.set_reminder_bg {
  background-color: #f1f2f6;
}

.userdetail_root {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.client_profile_underline {
  margin-left: 10px !important;
  background-color: red !important;
  padding: 9px;
}

.client_profile_main_section {
  width: 70%;
  overflow: scroll;
  padding: 10px;
}

.view_appointment_dia_header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 15px;
}

.view_appointment_dia_heading {
  font-size: 20px !important;
  font-weight: 600 !important;
  text-align: center !important;
}

.client_view_appointment_dialog_data {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 20px;
}

.appointment_dia_field_name {
  font-weight: 600;
}
