.client_profile_detail {
  width: 70%;
}

audio::-internal-media-controls-download-button {
  display: none;
}

.set_reminder_bg {
  background-color: #f1f2f6;
}
.userdetail_root {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}